In [2]:
!wget https://zenodo.org/record/2545213/files/train_rows.csv
!wget https://zenodo.org/record/2545213/files/test_rows_labels.csv
!wget https://zenodo.org/record/2545213/files/test_rows.csv

--2022-06-20 17:10:34--  https://zenodo.org/record/2545213/files/train_rows.csv
Resolving zenodo.org (zenodo.org)... 137.138.76.77
Connecting to zenodo.org (zenodo.org)|137.138.76.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16414 (16K) [text/plain]
Saving to: ‘train_rows.csv.1’

train_rows.csv.1    100%[===================>]  16.03K  --.-KB/s    in 0s

2022-06-20 17:10:36 (224 MB/s) - ‘train_rows.csv.1’ saved [16414/16414]

--2022-06-20 17:10:36--  https://zenodo.org/record/2545213/files/test_rows_labels.csv
Resolving zenodo.org (zenodo.org)... 137.138.76.77
Connecting to zenodo.org (zenodo.org)|137.138.76.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8252 (8.1K) [text/plain]
Saving to: ‘test_rows_labels.csv’

test_rows_labels.cs 100%[===================>]   8.06K  --.-KB/s    in 0s

2022-06-20 17:10:37 (103 MB/s) - ‘test_rows_labels.csv’ saved [8252/8252]

--2022-06-20 17:10:37--  https://zenodo.org/record/2545213/files/test_rows.csv
Resolving zenodo.org (zenodo.org)... 137.138.76.77
Connecting to zenodo.org (zenodo.org)|137.138.76.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7936 (7.8K) [text/plain]
Saving to: ‘test_rows.csv’

test_rows.csv       100%[===================>]   7.75K  --.-KB/s    in 0s

2022-06-20 17:10:39 (517 MB/s) - ‘test_rows.csv’ saved [7936/7936]

In [21]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.linear_model import ElasticNet

In [23]:
df = pd.read_csv("train_rows.csv", sep='\t')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RPA2_3     208 non-null    float64
 1   ZYG11A_4   208 non-null    float64
 2   F5_2       208 non-null    float64
 3   HOXC4_1    208 non-null    float64
 4   NKIRAS2_2  208 non-null    float64
 5   MEIS1_1    208 non-null    float64
 6   SAMD10_2   208 non-null    float64
 7   GRM2_9     208 non-null    float64
 8   TRIM59_5   208 non-null    float64
 9   LDB2_3     208 non-null    float64
 10  ELOVL2_6   208 non-null    float64
 11  DDO_1      208 non-null    float64
 12  KLF14_2    208 non-null    float64
 13  Age        208 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 22.9 KB

In [24]:
df.head()

,RPA2_3,ZYG11A_4,F5_2,HOXC4_1,NKIRAS2_2,MEIS1_1,SAMD10_2,GRM2_9,TRIM59_5,LDB2_3,ELOVL2_6,DDO_1,KLF14_2,Age
0,52.36,11.95,47.48,36.08,35.10,70.16,43.46,23.31,33.64,74.44,36.12,70.65,2.46,20
1,59.44,21.49,41.19,39.51,30.15,58.90,27.73,53.05,35.94,66.46,45.35,54.23,1.77,29
2,67.84,17.43,38.29,47.76,21.82,43.83,23.28,37.69,47.76,54.00,59.20,42.77,2.00,49
3,67.68,19.64,30.53,43.83,22.08,31.06,30.25,44.54,53.88,31.94,64.33,14.77,5.44,67
4,70.51,30.56,31.76,69.47,20.55,21.64,26.18,68.05,51.74,48.22,71.09,53.04,4.48,65

In [25]:
x_test = pd.read_csv("test_rows.csv", sep='\t')
y_test = pd.read_csv("test_rows_labels.csv", sep='\t')

In [32]:
x_test.head()
y_test.head()
y_test = y_test['Age']

In [27]:
x = df.iloc[:,:-1]
y = df['Age']

#x_train,x_val, y_train, y_val = train_test_split(x,y, test_size = 0.2)

In [37]:
reg = ElasticNet(alpha=0.001,normalize=True,random_state=33032141)
reg.fit(x,y)
preds = reg.predict(x_test)
preds.shape, y_test.shape
score = r2_score(y_test,preds)
score

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), ElasticNet())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to original_alpha * np.sqrt(n_samples) if l1_ratio is 1, and to original_alpha * n_samples if l1_ratio is 0. For other values of l1_ratio, no analytic formula is available.
  FutureWarning,

0.9194509201188321